/* fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* vars */

:root {
    --color1: #FFEEAF;
    --bg-color1: #FFFFD4;
    --bg-color2: #B39654;
    --bg-color3: #FADE9E;
    --bg-color4: #FFFFD2;
    --bg-color5: #FFFFD4;
    --bg-color6: #B39654;
    --bg-color7: #F4D898;
    /* #B39654 #FADE9E #FFFFD2 #FFFFD4 #B39654 #F4D898 */
    /* --white-color: ; */
    /* --body-font:; */
    --navbar-height: 6rem;
    /* Old */
    --hue-color: 206;
    --black-color: hsl(var(--hue-color), 4%, 4%);
    --black-color-alt: hsl(var(--hue-color), 4%, 8%);
    --title-color: hsl(var(--hue-color), 4%, 95%);
    --text-color: hsl(var(--hue-color), 4%, 75%);
    --text-color-light: hsl(var(--hue-color), 4%, 65%);
    --white-color: #FFF;
    --body-color: hsl(var(--hue-color), 4%, 6%);
    --container-color: hsl(var(--hue-color), 4%, 10%);
    --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%));
    --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
    --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 5rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --text-line-height: 2rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    transition: all ease .2s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'OpenSans', Arial, Helvetica, sans-serif;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: var(--bg-color2);
}

body {
    margin: 0;
    padding: 0;
    color: black;
    overflow-x: hidden;
    display: block;
    /* color: #333;
    background-color: #FFFFD4; */
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

section {
    width: 100%;
    box-shadow: 0 -1px 20px -2px rgba(0, 0, 0, .3);
    text-align: center;
}

.container {
    height: inherit;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem 0;
}


/* Nav Bar */

.site-header {
    width: 100%;
    max-height: fit-content;
    background-color: #FFEEAF;
    /* padding: 1rem 0; */
    position: sticky;
    z-index: 10;
}

.site-header.scrolled {
    width: 100%;
    background-color: #000;
    /* padding: 1rem 0; */
    /* position: fixed; */
}

.navbar {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: var(--navbar-height);
    width: 100%;
    padding: 0 1.5rem;
}

.nav-logo {
    text-align: center;
    justify-content: center;
    max-height: inherit;
    /* flex-grow: 1; */
    /* max-width: 10em;
    max-height: 10em; */
    /* height: 10px;
    width: 10px; */
}

.nav-logo img {
    /* text-align: center;
    flex-grow: 1; */
    max-width: 10rem;
    max-height: var(--navbar-height);
    /* height: 10px;
    width: 10px; */
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    /* padding-right: 1em; */
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.nav-list ul li {
    display: inline;
    /* margin: 0 10rem;
    padding: 0 10rem; */
}

.nav-list a {
    text-decoration: none;
    color: #333;
}


/* .nav-item {} */

.nav-link {
    font-size: 1.2em;
    font-weight: var(--font-semi-bold);
}

.nav-item:hover {
    box-shadow: inset 0 -3px 0 #000;
}

.nav-link:hover {
    color: var(--bg-color2)
}


/* Hero */

.hero {
    height: 100svh;
    /* calc(100svh + var(--navbar-height)); */
    /* max-height: calc(100svh + var(--navbar-height)); */
    text-align: center;
    /* padding: var(--navbar-height) 0 calc(var(--navbar-height) * 1.4) 0; */
    /* 1rem */
    background-color: var(--bg-color3);
    /* #F4D898 */
}

.hero .container {
    padding: 0 0 var(--navbar-height) 0;
    /*calc(var(--navbar-height) * 1.4)*/
}

.hero h1 {
    margin: 1rem auto;
}

.hero p {
    margin-bottom: 1.2rem;
}

.hero img {
    max-height: 80%;
    max-width: 50%;
}

.responsive-image {
    max-height: 100%;
}

.cta-button {
    display: inline-block;
    padding: 8px 25px;
    background-color: #B39654;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #9E7A4E;
}


/* About/ComingSoon */

#about {
    min-height: 50svh;
    /* white */
}


/* Contact */

#contact {
    background-color: #FFFFD2;
    min-height: 50svh;
}


/* Footer */

.site-footer {
    background-color: #B39654;
    color: white;
    text-align: center;
    padding: 1em auto;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.6rem;
    }
    h2 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.8em;
    }
    h5 {
        font-size: 1.5em;
    }
    p {
        font-size: 1.2em;
        font-weight: 400;
    }
    .nav-list ul li {
        display: inline;
        margin: 0 15px;
        font-size: 1rem;
    }
    .hero {}
    .cta-button {
        padding: 10px 30px;
        font-size: 1.1rem;
    }
}